
.user-profile-div{
    max-height: 80vh;
    overflow: auto;
  }
  .user-profile-div::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .user-profile-div {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  .user-top{
    margin-top: 100px;
    min-height: 89vh;
  }
  .items-detail{
    cursor: pointer;
  }
.cart-item-image{
  width: 40px;
  height: 40px;
  object-fit: contain;
}