.orders-title{
    font-size: 20px;
}
.orders-div1{
    background-color: green;
}
.orders-div2{
    background-color: blue;
}
.orders-div3{
    background-color: goldenrod;
}
.orders-div4{
    background-color: red;   
}
.order-type{
    color: white;
    height: 150px;
    width: 350px;
}